<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
          <p style="text-align: justify;">
              With a bachelor Digital Arts and Entertainment, which taught me strong skills in among other things C++, C#, .NET and WPF, I am motivated to put these to the test in practice. I am highly driven to expand my knowledge as well as to stay up to date with the newest technologies.
              Further below, you can read about some of my projects, take a look at my resume, and contact me.
          </p>
      </div>
    </div>
  </div>
</section>
