<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I’m Bert, a Game Development student at Howest DAE, looking for an end of study internship opportunity. 
          You can find more of my links at the bottom of this page.
        </p>
      </div>
      <div class="col-lg-4">
        <p>I’m a stress-resistant and decisive person. Throughout my school career, I’ve seen lots of different topics, all of which were very interesting. 
          However, I haven’t made up my mind yet in which area I want to specialize. 
          To learn the answer to that question though, I am ready to learn and broaden my horizon. </p>
      </div>
    </div>
  </div>
</section>
