<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p style="text-align: justify;">
          I graduated from Howest DAE as a Game Developer and
          am enthusiastic about starting a career as a software
          developer or gameplay programmer.<br>
          During my studies at Howest, I received very practical
          training in the world of Game Development. This approach
          has increased my passion for software development and
          motivated me to work in a problem-solving manner.
          Whether I end up in the gaming industry or somewhere else
          is less important to me. My main goal is for my work to
          make a meaningful contribution to society.<br>
          Further below, you can read about some of my projects, take a look at my resume, and contact me.
        </p>
      </div>
    </div>
  </div>
</section>
